<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
    {% for task in tasks %}
        <div class="card" style="width: 16rem;">
            <div class="card-body text-center">
                <h4>{{task.name}}</h4>
                <h5>Creator: {{task.creator}}</h5>
                {% if task.assigner == None %}
                    <h5>Nobody assigned</h5>
                {% else %}
                    <h5>Assigner: {{task.assigner}}</h5>
                {% endif %}
                <h5>Last update: {{task.updated_at}}</h5>
            </div>
        </div>
    {% endfor %}
    </div>
</body>
</html>